doctype html
html.h-100(lang='en')
  head
    title Brunner Bash
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    )
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="./assets/styles/main.css")
    script(
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    )
    script(src="https://kit.fontawesome.com/83100d2143.js" crossorigin="anonymous")
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="./assets/javascript/main.js")
  body.d-flex.h-100.text-center
    div.cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      header.mb-auto
      main
        div.card.card-main.mx-auto
          div.card-body
            h1.title.summer-font.mt-2 Brunner Bash
            br
            h5
              i.fa-regular.fa-calendar
              | &nbsp August 10th - 15th, 2023 <br>
            br
            p.text-start.mx-3
              i.fa-solid.fa-umbrella-beach
              | &nbsp; Come join us for the second annual Brunner Bash! The main events will be from the 11th - 13th, but the house requires a five night minimum so everyone is welcome to stay longer and work remotely or just hang out if you'd like.
            p.text-start.mx-3
              i.fa-solid.fa-house
              | &nbsp; Looking at <a class="link-no-styling" href="https://www.airbnb.com/rooms/773989?adults=12&location=Grand%20Lake%2C%20Colorado%2C%20United%20States&pets=2&check_in=2023-08-10&check_out=2023-08-15&federated_search_id=3105ddf5-01c4-42bb-8a3a-337134d25fc7&source_impression_id=p3_1684272698_6fEsskDj9mU6%2FnnB&guests=1" target="_blank">here</a> or <a class="link-no-styling" href="https://www.airbnb.com/rooms/6362377?adults=12&location=Grand%20Lake%2C%20Colorado%2C%20United%20States&pets=2&check_in=2023-08-10&check_out=2023-08-15&federated_search_id=3105ddf5-01c4-42bb-8a3a-337134d25fc7&source_impression_id=p3_1684272679_5Z5xITeHBb5VIdQK&guests=1" target="_blank">here</a> Pricing TBD. <br>
            p.text-start.mx-3
              i.fa-solid.fa-sailboat
              | &nbsp; We'll go boating on Lake Grandby on Saturday! Pricing TBD.
            p.text-start.mx-3
              i.fa-solid.fa-hamburger
              | &nbsp; Food will be provided. If you have any dietary restrictions, bring what you need to supplement.
            p.text-start.mx-3
              i.fa-solid.fa-martini-glass-empty
              | &nbsp; We're asking everyone to bring drinks.
            p.text-start.mx-3
              i.fa-solid.fa-circle-check
              | &nbsp Please RSVP as soon as possible as we would like to book a cabin!
            p.lead
              button.btn.btn-lg.btn-pink.fw-bold(type="button" data-bs-toggle="modal" data-bs-target="#rsvpModal") RSVP
      footer.mt-auto

    div.modal.fade(id="rsvpModal" tabindex="-1" aria-labelledby="rsvpModalLabel" aria-hidden="true")
      div.modal-dialog.modal-dialog-centered.modal-lg
        div.modal-content.modal-pink
          div.modal-header.border-bottom-0
            h1.modal-title.fs-5(id="rsvpModalLabel" tabindex="-1" aria-labelledby="rsvpModalLabel" aria-hidden="true") RSVP to Brunner Bash
            button.btn-close.btn-close-white(type="button" data-bs-dismiss="modal" aria-label="Close")
          div.modal-body.text-start
            form.needs-validation(id="rsvpForm")
              div.row
                div.col.form-floating.mb-3
                  input.form-control.needs-validation.input-pink(id="firstNameInput" type="text" name="firstName" placeholder="First Name" required)
                  label.ms-3.label-pink(for="firstNameInput") First Name
                  div.invalid-feedback.feedback-white Please provide your first name.
                div.col.form-floating.mb-3
                  input.form-control.needs-validation.input-pink(id="lastNameInput" type="text" name="lastName" placeholder="Last Name" required)
                  label.ms-3.label-pink(for="lastNameInput") Last Name
                  div.invalid-feedback.feedback-white Please provide your last name
              div.mb-3.row
                div.col.text-end
                  input.btn-check.form-check(type="radio" name="rsvp-selection" id="attendInput" autocomplete="off" value="true" required)
                  label.btn.btn-pink(for="attendInput") Will Attend
                div.col.text-start
                  input.btn-check.form-check(type="radio" name="rsvp-selection" id="notAttendInput" autocomplete="off" value="false" required)
                  label.btn.btn-pink(for="notAttendInput") Will Not Attend
                  div.invalid-feedback.feedback-white Please select one of the options.
          div.modal-footer.border-top-0.text-end
            button.btn.btn-pink(id="submitButton" type="button" onclick="submitRSVP()") Submit

    div.toast-container.position-fixed.top-0.end-0.p-3
      div.toast.align-items-center.border-0.toast-pink(role="alert" id="toast" aria-live="assertive" aria-atomic="true")
        div.d-flex
          div.toast-body This is a toast!
          button.btn-close.me-2.m-auto.btn-close-white(type="button" data-bs-dismiss="toast" aria-label="Close")
